# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
env/
app/.venv/

# Ambiente e secrets
.env
.env.*

# Banco local
*.db
*.sqlite3

# Testes / cobertura
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db